<!DOCTYPE html>
<html>
<body>
	<!-- This is a simple example template with a form that has a single input field. 
		   You'll need something similar for the login page -->
  <h1>Signup</h1>
  <form action="/createaccount" method="post">
  	<div>
  	<input type="text" name="username" placeholder="Enter desired username here:">
  	</div>
    <input type="text" name="password" placeholder="Enter desired password here:">
    <div>
    </div>
    <input type="text" name="fullname" placeholder="Enter full name here:">
    <div>
    <input type="submit" value="Create Account">
    </div>
    
    <a href="/signup"> Create an account</a>
  </form>
  <h2> Matthew Yin - mlyin </h2>
</body>
</html>
